In [5]:
import pandas as pd
df = pd.read_csv('Dataset.csv')

In [6]:
#Additional features
df['name_length'] = df['Restaurant Name'].str.len()
df['address_length'] = df['Address'].str.len()

In [11]:
df['name_length'] = df['Restaurant Name'].astype(str).str.len()
df['address_length'] = df['Address'].astype(str).str.len()

In [13]:
df['table_booking_flag'] = df['Has Table booking'].apply(lambda x: 1 if x == "Yes" else 0)
df['online_delivery_flag'] = df['Has Online delivery'].apply(lambda x: 1 if x == "Yes" else 0)

In [17]:
df['num_cuisines'] = df['Cuisines'].astype(str).str.split(',').apply(len)

In [19]:
df[['Restaurant Name','name_length','num_cuisines','table_booking_flag','online_delivery_flag']].head()

,Restaurant Name,name_length,num_cuisines,table_booking_flag,online_delivery_flag
0,Le Petit Souffle,16,3,1,0
1,Izakaya Kikufuji,16,1,1,0
2,Heat - Edsa Shangri-La,22,4,1,0
3,Ooma,4,2,0,0
4,Sambo Kojin,11,2,1,0